.priceContainer {
    margin-top: -6px;
}
.priceTextDesktop {
    color: #000;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 16.5px; /* 150% */
}
.oldPriceDesktop {
    text-decoration: line-through;
    font-size: 14px !important;
    margin-left: 5px !important;
    color: #BDBDBD;
}
.priceText {
    color: #000;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 16.5px; /* 150% */
}
.oldPrice {
    text-decoration: line-through;
    font-size: 10px !important;
    margin-left: 5px !important;
    color: #BDBDBD;
}
.priceText span:first-child
{
    font-size: 9px;
}
.oldPrice span:first-child
{
    font-size: 8px;
}