/* prettier-ignore */
.root {
    composes: gap-xs from global;
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: max-w-screen-lg from global;
    composes: mx-auto from global;
    composes: my-0 from global;
    composes: px-sm from global;
    composes: py-sm from global;

    composes: lg_gap-md from global;
    /* TODO @TW: review (B7) */
    composes: lg_grid-cols-[2fr,1fr] from global;
    composes: lg_px-lg from global;
    composes: lg_py-md from global;
}
.desktopRoot {
    composes: gap-xs from global;
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: max-w-screen-lg from global;
    composes: mx-auto from global;
    composes: my-0 from global;
    composes: px-sm from global;
    composes: py-sm from global;

    composes: lg_gap-md from global;
    display: flex;
    flex-direction: column;
}
.mainContainer {
    composes: col-start-1 from global;
    composes: grid from global;
    composes: gap-y-xs from global;
}

.heading_container {
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: grid-flow-col from global;
}

.heading {
    composes: font-semibold from global;
}

.card_details_container {
    composes: gap-2xs from global;
    composes: grid from global;
}

.payment_details {
}

.methodTitle {
    color:#000;
    font-size: 14px;
    font-family: Roobert;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    margin-bottom: 6px;
    text-transform: capitalize;
}
.subMethodTitle, .subMethodTitle span {
    color:#828282;
    font-size: 11px;
    font-family: Roobert;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    padding-right: 3px;
}

.itemsBox {
    composes: gap-y-2xs from global;
    composes: grid from global;
    margin-bottom: 0px;
}
.skeletonItemsBox {
    composes: gap-y-2xs from global;
    composes: grid from global;
    padding: 1rem;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
    border: none;
}
.skeletonDeliveryTo {
    padding: 1rem;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
    border: none;
}
.skeletonPaymentMethod {
    padding: 1rem;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
    border: none;
}
.deliveryTo {
    padding: 1rem;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
    border: none;
}
.paymentMethod {
    padding: 1rem;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
    border: none;
}
.item {
    composes: gap-x-2xs from global;
    /* composes: gap-y-xs from global; */
    composes: grid from global;
    composes: items-start from global;
    grid-template-areas: 'image details kebab';
    grid-template-columns: 100px 1fr min-content;
}
.imageContainer {
    grid-area: image;
    max-width: 80px;
}

.imageRoot {
    composes: h-full from global;
}

.image {
    composes: bg-subtle from global;
    composes: border from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: h-full from global;
    composes: object-contain from global;
    composes: object-center from global;
    composes: rounded-sm from global;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 6px;
    border: none;
}
.details {
    composes: gap-2xs from global;
    composes: leading-normal from global;

    composes: sm_grid from global;
    margin-left: -16px;
}
.desktopDetails {
    composes: gap-2xs from global;
    composes: leading-normal from global;
    margin-left: -16px;
    display: flex;
    flex-direction: column;
}
.name {
    composes: font-semibold from global;
    grid-area: name;
    color: #000;
    font-size: 14px;
    font-family: Roobert;
    font-style: normal;
}
.price {
    composes: text-sm from global;
    grid-area: price;
    color: var(--black, #000);
    font-size: 11px;
    font-family: Roobert;
    font-style: normal;
    font-weight: 650;
    line-height: 110%;
}
.quantity {
    color:#000;
    font-size: 11px;
    font-style: normal;
    font-weight: 650;
    line-height: 110%; /* 12.1px */
    margin-top: 5px;
}
.totalSection {
    margin-top: 10px;
}
.containerBox {
    composes: gap-y-2xs from global;
    composes: grid from global;
    padding: 1rem;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
    border: none;
}
.address {
    composes: gap-2xs from global;
    composes: grid from global;
    composes: pt-xs from global;
    display: inline-block;
    padding-top: 0;
    color: #828282;
    font-size: 12px;
    font-family: Roobert;
    font-style: normal;
    font-weight: 500;
}
.address span {
    padding-right: 2px;
}
.addressTitle {
    color: #000;
    font-size: 12px;
    font-family: Roobert;
    font-style: normal;
    font-weight: 500;
}
.telephone {
    color: #828282;
    font-size: 12px;
    font-family: Roobert;
    font-style: normal;
    font-weight: 500;
}
.deliveryNoteTitle {
    color: #000;
    font-size: 12px;
    font-family: Roobert;
    font-style: normal;
    font-weight: 500;
    padding-right: 4px;
}
.deliveryNote {
    color: #828282;
    font-size: 12px;
    font-family: Roobert;
    font-style: normal;
    font-weight: 500;
}
.cardHeader {
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: grid-flow-col from global;
    margin-bottom: 10px;
}

.cardTitle {
    composes: font-semibold from global;
}
.fullBtn {
    background: #FFC629;
    border-radius: 12px !important;
    box-shadow: none !important;
    width: 100%;
    color: #000000 !important;
    text-transform: capitalize !important;
    height: 40px;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 12px !important;
}
.fullBtn:hover {
    background-color: #FFC629;
}

.fullBtnOutline {
    background: transparent;
    border-color: #FFC629 !important;
    border-radius: 12px !important;
    box-shadow: none !important;
    width: 100%;
    color: #000000 !important;
    text-transform: capitalize !important;
    height: 40px;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 12px !important;
}
.fullBtnOutline:hover {
    background-color: #FFC629;
}